/*
.donation-place .card-img-top {
    width: 100%;
    height: 100px; 
    object-fit: cover; 
} 
body {
    background-color: #7e8d2a; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
*/